   body {
       background-image: url("wallpaper.jpg");
       background-size: cover;
       width: 100%;
       height: 100%;
       overflow-x: hidden;
   }
   
   a:link {
       text-decoration: none;
       color: white;
   }
   
   a:visited {
       text-decoration: none;
       color: white;
   }
   
   a:hover {
       text-decoration: none;
       color: white;
   }
   
   a:active {
       text-decoration: none;
       color: white;
   }
   
   .navbar {
       display: flex;
   }
   
   .title {
       justify-content: center;
       align-items: center;
       vertical-align: middle;
       color: rgb(143, 143, 143);
       display: flex;
       width: 100%;
       line-height: 50px;
       font-family: 'Montserrat', serif;
       font-size: 1.5rem;
       padding-right: 53px;
       animation: fadeInAnimation ease 3s;
       animation-iteration-count: 1;
       animation-fill-mode: forwards;
   }
   
   @keyframes fadeInAnimation {
       0% {
           opacity: 0;
       }
       50% {
           opacity: 0.5;
       }
       100% {
           opacity: 1;
       }
   }
   
   .menuicon {
       width: 25%;
       height: 25%;
       color: rgb(143, 143, 143);
       font-size: 1.5rem;
       border: none;
       margin: 1rem;
   }
   
   .dropdown {
       position: relative;
       display: inline-block;
   }
   
   .dropdown-content {
       display: none;
       position: absolute;
       min-width: 160px;
       box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
       z-index: 1;
       text-align: center;
       background: linear-gradient(-40deg, #6d6d6d 30%, #b3b3b3 100%);
       transition: 0.5s ease-in-out;
   }
   
   .dropdown-content a {
       color: black;
       padding: 12px 16px;
       text-decoration: none;
       display: block;
       font-family: 'Montserrat', serif;
       font-weight: bold;
       transition: 0.3s ease-in-out;
   }
   
   .dropdown-content a:hover {
       background-color: #4141416c;
       color: white;
   }
   
   .dropdown:hover .dropdown-content {
       display: block;
       transition: 0.5s ease-in-out;
   }