* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(90deg, #D8DFE2, #B3A99D);
    min-height: 100vh;
    color: #6F8E8E;
}

header {
    font-size: 1.5rem;
}

header,
form {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: #D8DFE2;
}

form button {
    color: #B3A99D;
    cursor: pointer;
}

::placeholder {
    color: #6f8e8e98;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    list-style: none;
    min-width: 30%;
}

.todo {
    margin: 0.5rem;
    background-color: #D8DFE2;
    color: #6F8E8E;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background-color: #ffbcbc79;
    color: #B3A99D;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.complete-btn {
    background-color: #d0ffbc79;
}

.fa-minus-square,
.fa-check-square {
    pointer-events: none;
}

.complete {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #6F8E8E;
    width: 13rem;
    cursor: pointer;
    padding: 0.8rem;
    font-size: 1.5rem;
    background-color: #D8DFE2;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #D8DFE2;
    top: 0;
    right: 0;
    padding: 1.1rem;
    pointer-events: none;
    color: #B3A99D;
}

.select:hover::after {
    background-color: #6F8E8E;
    color: #D8DFE2;
}