body {
    background-color: rgb(104, 188, 199);
}

h1 {
    color: rgb(1, 107, 139);
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    text-align: center;
}


/* What a lovely comment */

p {
    background-color: rgb(192, 237, 241);
    color: rgb(255, 255, 255);
    font-family: Courier;
    border: 2px solid rgb(1, 107, 139);
    padding: 10px;
    margin: 50px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    text-shadow: 2px 2px 2px gray;
}