* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('wallpaper.jpeg');
    background-size: cover;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}

.menu {
    color: #fff;
}

.menu img {
    width: 2rem;
    height: 2rem;
    margin: 2rem;
    color: #dddddd;
}

.title p {
    font-size: 3rem;
    letter-spacing: 10pt;
    margin-top: 1rem;
    padding-top: 0;
    color: #6b6b6b;
}

.logo img {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
    margin-top: auto;
    color: #6b6b6b;
}


/* Dropdown Button */

.dropbtn {
    background-color: transparent;
    font-size: 16px;
    border: none;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a9aaac;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 2rem;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #636363b9;
    color: white;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */


/* width */

 ::-webkit-scrollbar {
    width: 15px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #a3a3a3;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #5e5e5e9c;
}


/* width */

 ::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #706f6f3d;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #db463e;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #db463e;
    ;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.content {
    background: rgba(255, 255, 255, 0.342);
    box-shadow: 0 8px 32px 0 rgba(108, 108, 110, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    width: 60%;
    margin: auto;
    text-align: justify;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #030303;
    font-family: 'Crimson Text', serif;
    font-weight: 700;
}

.content img {
    width: 100%;
    size: 100%;
}

hr {
    color: #db463e;
    background-color: #db463e;
    height: 2px;
    text-decoration: none;
}

footer {
    color: #a3a3a3;
    margin: auto;
    position: fixed;
    bottom: 0;
    letter-spacing: 2pt;
    font-size: 0.7rem;
}