body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    button:hover {
        background-color: aqua;
        color: gray;
    }
}

.hidden {
    visibility: hidden;
}

@import './TweetList'