.navbar {
    background-color: #414141;
    height: 200px;
    width: 100%;
}

.menuicon {
    width: 50px;
    height: 50px;
    color: white;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    background-color: #FFFFFF;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Montserrat', serif;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: #414141;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}