            body {
                background-color: #533637;
                cursor: default;
            }
            
             ::-webkit-scrollbar {
                width: 10px;
            }
            
             ::-webkit-scrollbar-track {
                background-color: #DDC1C6;
            }
            
             ::-webkit-scrollbar-thumb {
                background-color: #704C52;
            }
            
            .navigation {
                background-color: #533637;
                height: 75px;
                width: 100%;
                justify-content: center;
                vertical-align: middle;
                text-align: center;
                display: inline-flex;
                border-radius: 10px;
            }
            
            .navbutton {
                background-color: #533637;
                justify-content: center;
                text-align: center;
                display: inline;
                width: 25%;
                font-size: 40px;
                color: #DDC1C6;
                height: 75px;
                vertical-align: middle;
                font-family: 'Montserrat', sans-serif;
                border-radius: 5px;
                text-decoration: none;
                font-weight: bold;
                transition: all 1s ease-out;
                margin: 20px;
            }
            
            .navbutton:hover {
                color: #C5A0A7;
                transition: all 0.6s ease-in-out;
                background-color: #704C52;
            }
            
            .active {
                background-color: #704C52;
                color: #FFFFFF;
            }
            
            .active:hover {
                background-color: #533637;
                color: #DDC1C6;
            }
            
            .mainbody {
                background-color: #533637;
                height: 100%;
                width: 100%;
                justify-content: center;
                font-family: 'Roboto', serif;
                font-weight: bold;
                text-align: center;
                font-size: 40px;
                color: #C5A0A7;
            }
            
            .box1 {
                background-color: #704C52;
                text-align: left;
                font-size: 20px;
                font-family: 'Montserrat', sans-serif;
                color: #DDC1C6;
                text-align: center;
                padding: 10px 0px;
                border: 1px solid #DDC1C6;
            }
            
            .box1 ul {
                list-style-type: none;
                padding-inline-start: 0;
                width: 100%;
                transition: all 0.5s ease-in-out;
            }
            
            .box1 h2 {
                font-family: 'Roboto', serif;
                font-weight: bold;
                text-align: center;
                font-size: 30px;
            }
            
            .box1 ul li {
                width: 10%;
                justify-content: center;
                font-family: 'Montserrat', serif;
                text-align: center;
                font-size: 20px;
                color: #C5A0A7;
                margin: auto;
                letter-spacing: 1px;
                border-radius: 5px;
                transition: all 0.5s ease-in-out;
            }
            
            .box1 ul li:hover {
                transition: all 0.5s ease-in-out;
                background-color: #533637;
                color: #C5A0A7;
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
            
            .box1 ul :visited {
                text-decoration: none;
                width: 25%;
                height: 25%;
                justify-content: center;
                font-family: 'Montserrat', serif;
                text-align: center;
                font-size: 20px;
                color: #C5A0A7;
                margin: auto;
                letter-spacing: 1px;
            }
            
            .box1 ul :link {
                text-decoration: none;
                width: 25%;
                height: 25%;
                justify-content: center;
                font-family: 'Montserrat', serif;
                text-align: center;
                font-size: 20px;
                color: #C5A0A7;
                margin: auto;
                letter-spacing: 1px;
            }
            
            .quadrado {
                background-color: #C5A0A7;
                height: 300px;
                width: 300px;
                display: inline-block;
                vertical-align: middle;
                justify-content: center;
                line-height: 300px;
            }
            
            .line {
                background-color: #C5A0A7;
                height: 1px;
                width: 100%;
            }
            
            .media {
                list-style-type: none;
            }
            
            .footmedia {
                justify-content: center;
                align-items: center;
                display: inline-flex;
                text-align: center;
            }
            
            .footer ul {
                display: inline-flex;
                justify-content: center;
            }
            
            .facebook {
                margin: 10px;
            }
            
            .instagram {
                margin: 10px;
            }
            
            .copy {
                margin: 10px;
                padding-top: 3px;
                font-family: 'Montserrat', sans-serif;
                color: #C5A0A7;
                font-size: 15px;
                vertical-align: middle;
            }
            
            .infobox1 {
                background-color: #704C52;
                font-size: 20px;
                font-family: 'Montserrat', sans-serif;
                color: #DDC1C6;
                text-align: center;
                padding: 10px 0px;
                width: 50%;
                position: relative;
            }
            
            .infobox2 {
                background-color: #704C52;
                font-size: 20px;
                font-family: 'Montserrat', sans-serif;
                color: #DDC1C6;
                text-align: center;
                padding: 10px 0px;
                width: 50%;
                position: relative;
                opacity: 0.6;
            }
            
            .mainbodyinfo {
                background-color: #533637;
                height: 800px;
                width: 100%;
                justify-content: center;
                font-family: 'Roboto', serif;
                font-weight: bold;
                text-align: center;
                font-size: 40px;
                color: #C5A0A7;
                display: flex;
                border: 1px solid #C5A0A7;
            }
            
            .infotxt {
                width: 100%;
                justify-content: center;
                font-family: 'Roboto', serif;
                font-weight: bold;
                text-align: center;
                font-size: 40px;
                color: #C5A0A7
            }
            
            .sidepic {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.25;
            }
            
            .infobox1 h2 {
                font-family: 'Roboto', serif;
                font-weight: bold;
                text-align: center;
                font-size: 40px;
            }
            
            .infobox1 p {
                width: 100%;
                justify-content: center;
                font-family: 'Montserrat', serif;
                text-align: center;
                font-size: 20px;
                color: #C5A0A7;
                margin: auto;
                letter-spacing: 1px;
            }
            
            .skillbox1 {
                background-color: #704C52;
                height: 50%;
                width: 100%;
                justify-content: center;
                font-family: 'Roboto', serif;
                font-weight: bold;
                text-align: center;
                font-size: 40px;
                color: #C5A0A7;
                align-items: center;
                display: inline-block;
                border: 1px solid #DDC1C6;
            }
            
            .skillbox1 p {
                font-size: 20px;
                font-family: "Montserrat", sans-serif;
            }
            
            .container {
                width: 75%;
                background-color: #533637;
                display: inline-block;
                line-height: 15%;
                vertical-align: text-top;
                text-align: left;
            }
            
            .html {
                width: 95%;
                background-color: #C5A0A7;
            }
            
            .css {
                width: 90%;
                background-color: #C5A0A7;
            }
            
            .js {
                width: 35%;
                background-color: #C5A0A7;
            }
            
            .python {
                width: 80%;
                background-color: #C5A0A7;
            }