.library {
    background-color: #3d3d3d;
    width: 20rem;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    font-weight: 100;
    color: #c0c0c0;
    height: 100%;
    box-shadow: 2px 2px 50px #3d3d3d;
    transform: translateX(-100%);
    transition: transform 1s ease, opacity 1s ease;
    h2 {
        padding: 2rem;
        color: #c0c0c0;
        font-weight: 100;
        letter-spacing: 8pt;
        text-align: center;
        vertical-align: middle;
    }
    &.open {
        transform: translateX(0);
        opacity: 1;
    }
}

.library-song {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    cursor: pointer;
    img {
        width: 30%;
    }
    &.selected {
        background-color: #595959;
        color: #989999;
        animation: pulse 2s infinite;
        @keyframes pulse {
            0% {
                //transform: scale(0.95);
                box-shadow: 0 0 0 0 rgba(38, 38, 38, 0.7);
            }
            70% {
                //transform: scale(1);
                box-shadow: 0 0 0 15px rgba(38, 38, 38, 0);
            }
            100% {
                //transform: scale(0.95);
                box-shadow: 0 0 0 0 rgba(38, 38, 38, 0);
            }
        }
    }
    &:hover {
        background-color: #595959;
        color: #989999;
        transition: 0.3s ease-in-out;
    }
    .song-description {
        padding: 1rem;
    }
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #262626;
    border-radius: 1rem;
    border: transparent;
}

@media screen and (max-width: 768px) {
    .library {
        width: 100%;
        h2 {
            text-align: left;
        }
    }
}