nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4pt;
    button {
        background-color: transparent;
        border: none;
        border-radius: 4pt;
        cursor: pointer;
        letter-spacing: 1pt;
        font-size: 1rem;
        //border: 2px solid white;
        padding: 0.5rem;
        transition: all 0.3s ease;
        color: #c0c0c0;
        font-weight: 100;
        //border-radius: 15px;
        box-shadow: 3px 3px 3px #29292952, -3px -3px 3px #4747479a;
        &:hover {
            background-color: rgb(139, 138, 138);
            color: #c0c0c0;
            border-radius: 6pt;
        }
        &::focus {
            outline: none;
        }
    }
    svg {
        margin-left: 3px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        button {
            z-index: 10;
            &:hover {
                background-color: transparent;
            }
        }
    }
}