.player {
    min-height: 15vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.time-control {
    width: 50%;
    display: flex;
    align-items: center;
    input {
        width: 100%;
        cursor: pointer;
        padding: 0rem 0rem;
        -webkit-appearance: none;
        background-color: transparent;
    }
    p {
        padding: 1rem;
        text-align: center;
        color: #dfdede;
    }
}

.play-control {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
        cursor: pointer;
        box-shadow: 3px 3px 6px #00000046, -3px -3px 6px #35353554;
        border-radius: 50%;
        //background-color: #262626;
    }
    color: #777777;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border-radius: 1rem;
}

.track {
    width: 100%;
    height: 1rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 3px 3px 10px #0000005e, -3px -3px 10px #747474c2;
}

.animate-track {
    background-color: #424242;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 8px;
    transform: translateX(0%);
    pointer-events: none;
}

.animate-track-thumb {
    width: 16px;
    height: 16px;
    background-color: #262626;
    border-radius: 16px;
    box-shadow: 3px 3px 6px #00000046, -3px -3px 6px #35353554;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%)
}

@media screen and (max-width: 768px) {
    .time-control {
        width: 90%;
    }
    .play-control {
        width: 60%;
    }
}