.song {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img {
        width: 25%;
        //border-radius: 10pt;
        box-shadow: 6px 6px 10px #030303ab, -6px -6px 10px #696969c0;
        border-radius: 10pt;
    }
    h2 {
        padding: 3rem 1rem 1rem 1rem;
        color: #dfdede;
        font-weight: 100;
        font-variant: small-caps;
        letter-spacing: 2pt;
    }
    h3 {
        font-size: 1rem;
        color: #c0c0c0;
        font-weight: 100;
        font-variant: small-caps;
        letter-spacing: 2pt;
    }
}

@media screen and (max-width: 768px) {
    .song {
        img {
            width: 60%;
        }
    }
}