* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif
}

*:focus {
    outline: 0 !important;
}

body {
    background-position: center;
    background-color: #3d3d3d;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    min-height: 100vh;
    background-size: 400% 400%;
}

.App {
    min-height: 100vh;
    transition: all 0.5s ease-in-out;
}

.library-active {
    margin-left: 20%;
}

h1,
h3 {
    color: #c0c0c0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

h2 {
    color: #595959;
    font-family: 'Montserrat', sans-serif
}

h3,
h4 {
    font-weight: 300;
    color: #777777;
    font-family: 'Montserrat', sans-serif
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";